@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-primary);
}

:root {
    --color-primary: #141922;
    --color-secondary: #000000;
    --color-tertiary: #282828;
    --color-text: #6D6D6D;
}

.paddingbottom{
    padding-bottom: 1rem;
}

.bodycontainer {
    height: 100vh;
    width: 100%;
}

.flex{
    display: flex;
}

.flexcol{
    flex-direction: column;
}

.grow{
    flex-grow: 1 ;
}

.noshrink{
    flex-shrink: 0;
}

.nav{
    background-color: var(--color-secondary);
    color: var(--color-text);
    overflow: hidden;
    max-width: 250px;
}

.logo img{
    width: 70%;
    padding: 2rem 1rem;
}

.nav-btns .btn{
    padding: 0.7rem 1rem;
    font-weight: 700;
    vertical-align: middle;
}

.nav .icon{
    max-width: 24px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.nav-playlist, .nav-pl-names{
    padding: 1rem
}

.nav-playlist i{
    font-size: 3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.nav-playlist h4{
    display: inline-block;
}

.nav-pl-names{
    overflow: auto;
}

.plname{
    padding-bottom: 1rem;
    font-weight: 700;
}

.btn.selected{
    color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgb(12, 206, 12);
}

.userinfo{
    justify-self: flex-end;
    padding: 1rem;
}

.userinfo .downloadpp{
    border-bottom: solid 1px gray;
    padding-bottom: 1rem;
    font-weight: 700;
}

.user img.icon{
    background-color: gray;
    border-radius: 50%;
}

.user span{
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    vertical-align: middle;
}

.userinfo .user{
    padding-top: 1rem;
}

.header{
    background-color: #080B12;
    color: white;
    padding: 2rem 0.3rem;
    flex-direction: row-reverse;
}

.header .btn{
    padding: 1rem 3rem;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 30px;
}

.genres{
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text);
    font-weight: 700;
    width: 100%;
}

.genres span{
    padding: 0.5rem 1rem;
}

